

  .headline--primary {
    color: $green;
    text-align:left;
    padding-left:30px;
  }

  .link {
    text-decoration:none;
    color:$blue;
    font-weight:bold;
  }


  .blockquote {
    font-size:1.5em;
    font-style:italic;
    text-align:left;
    border-left:solid .5em $green;
    padding-left:10px;
  }


  .headline--secondary {
    color: lighten($grey, 30%);
    text-align:left;
    padding-left:20px;
    padding-bottom:10px;
    font-weight:lighter;

  }
